body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #03AE85;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-primary {
    background-color: #38d39f;
    border-color: #38d39f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
