
body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/wave.png') no-repeat center center fixed;
    background-size: cover;
}
.precios {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}

.precio {
    font-size: 24px;
    font-weight: bold;
    color: #38d39f;
}

/* Estilos para el footer */

footer {
    background-color: #f8f9fa;
    color: #6c757d;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}
