body {
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

header {
    background-color: #38d39f;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

.testimonios {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

blockquote {
    font-size: 1.2em;
    margin: 20px 0;
}

h2 {
    margin-bottom: 10px;
}

.media-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Centra verticalmente los elementos */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan si no caben en una fila */
    margin-top: 20px;
    /* Ajusta este valor para aumentar el margen superior */
}

video,
img {
    width: 100%;
    /* Ocupa el 100% del contenedor */
    max-width: 250px;
    /* Ajusta el ancho máximo según tus preferencias */
    height: auto;
    /* Se ajusta automáticamente al ancho */
    margin: -100px 0;
    /* Agrega un pequeño margen arriba y abajo */
}

.testimonios p {
    color: #000;
    /* Cambia el color del texto a negro */
}

footer {
    background-color: #38d39f;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}